:root {
  --white: #ffffff;
}

/* .navbar-container {
  padding-top: 5px;
} */

.parent-container {
  padding-left: 31px;
  padding-right: 90px;
  background-color: black;
}

.navigation-links {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.11px;
  color: var(--white) !important;
}

.navigation-links :hover {
  color: var(--white);
}

.my-items {
  margin-left: 106px;
}

.dropdown-menu {
  background-color: black;
}

.dropdown-item {
  color: var(--white);
}
